/* Global Styles */
* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

@font-face {
    font-family: 'Zen Antique Soft';
    src: url('https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap');
    font-weight: normal;
    font-style: normal;
}

/*Navbar Styles */
header {
    background-color: #222831;
}
.navbar-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.navbar-links {
    display: flex;
    gap: 25px;
    padding-top: 1em;
    font-family: 'Zen Antique Soft';
    font-size: 30px;
}

.n-links {
    list-style-type: none;
    
}
.n-links, a{
    text-decoration: none;
    color: #DBE5F1;
}
.n-links, a:hover{
    color: #ffff;
}

/* Portfolio Intro Section */
.intro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    background-color: #393E46;
    justify-items: center;
    align-items: center;
    color: #FFD369;
}
#section-img {
    grid-row-start: 2;
    width: 250px;
    height: 500px;
}

.intro-header {
    grid-column-start: 2;
    grid-row-start: 2;
}
.section-bio{
    grid-column-start:2 ;
    grid-row-start: 2;
}

/* Skills Styles */
.skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    background-color: #393E46;
    color: #FFD369;
}

.skill-details{
    max-width: 300px;
}


/* Footer Styles */
footer{
    display: flex;
    flex: 1;
    gap: 2em;
    justify-content: center;
    background-color: #222831;
}
.footer-bar {
    display: inline-flex;
    flex-direction: row;
    padding-top: 2em;
    gap: 2em;
}
.social-bar {
    display: flex;
    gap: 1.5em;
}

.social-img {
    width: 1.75em;
    height: 1.75em;
    
}